@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, rgba(46,55,200,1) 0%, rgba(46,108,193,1) 17%, rgba(47,187,183,1) 40%, rgba(99,205,133,1) 64%, rgba(210,232,15,1) 97%);
    color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}


.container {
    background-color: rgba(0, 0,0, 0.3);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 1px 2px black;
}

.container a {
    text-decoration: none;
    color: #fdb827;
    text-shadow: 1px 1px 2px black;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #f6f5f1;
    padding: 15px;
    font-family: inherit;
    border: 0;
    border-radius: 5px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: none;
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
    font-family: inherit;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color:  #393e46;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
   transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: #393e46;
    transform: translateY(-30px);
}